<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sala de Escape</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/salas.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <header>
        <a href='@Url.Action("Salas")'><img src="/images/puerta.png" alt="Salas" style="margin: 10px; width: 50px; box-shadow: 2px -1px 3px rgb(104, 75, 21);"></a>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
