@{
    ViewData["Title"] = "Index";
}

<section class="index">
<h1>La Peste Negra</h1>
    <a href='@Url.Action("salas")'alt="">Jugar</a>
    <a href='@Url.Action("historia")'alt="">Historia</a>
    <a href='@Url.Action("creditos")'alt="">Créditos</a>
</section>




