<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">

@{
    ViewData["Title"] = "Index";
}
<body class="inicio">
 <section class="index">
<h1>La Peste Negra</h1>
    <a href='@Url.Action("salas")'alt="">Jugar</a>
    <a href='@Url.Action("historia")'alt="">Historia</a>
    <a href='@Url.Action("creditos")'alt="">Créditos</a>
</section>   
</body>





