@{
    ViewData["Title"] = "Sala 1";
}
<body id="sala1">

<form action='@Url.Action("Sala1", "Home")' method="POST" class="form-sala1" style="display:block;">
    <input type="text" name="clave" placeholder="Ordená las pistas" required minlength="5" maxlength="5" autocomplete="off"/>
    <input type="submit" value="Seguro es así" />
</form>

<div class="sala1-container" style="display:block;">
    <button onclick="mostrarPista('pista1')" class="boton-pista" id="boton-pista1"></button>
    <button onclick="mostrarPista('pista2')" class="boton-pista" id="boton-pista2"></button>
    <button onclick="mostrarPista('pista3')" class="boton-pista" id="boton-pista3"></button>
    <button onclick="mostrarPista('pista4')" class="boton-pista" id="boton-pista4"></button>
    <button onclick="mostrarPista('pista5')" class="boton-pista" id="boton-pista5"></button>
    <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&list=RDxvFZjo5PgG0&start_radio=1" target="_blank"  style="position: absolute; width: 100px; height: 100px; opacity: 0; top: 200px; left: 800px;"></a>


    <div class="pista" id="pista1" style="display: none;">
        <img src="/images/pista1.png" alt="">
        <span class="cerrar" onclick="cerrarPista('pista1')">×</span>
    </div>
    <div class="pista" id="pista2" style="display: none;">
        <img src="/images/pista2.png" alt="">
        <span class="cerrar" onclick="cerrarPista('pista2')">×</span>
    </div>
    <div class="pista" id="pista3" style="display: none;">
        <img src="/images/pista3.png" alt="">
        <span class="cerrar" onclick="cerrarPista('pista3')">×</span>
    </div>
    <div class="pista" id="pista4" style="display: none;">
        <img src="/images/pista4.png" alt="">
        <span class="cerrar" onclick="cerrarPista('pista4')">×</span>
    </div>
    <div class="pista" id="pista5" style="display: none;">
        <img src="/images/pista5.png" alt="">
        <span class="cerrar" onclick="cerrarPista('pista5')">×</span>
    </div>
</div>

<script>
  function mostrarPista(id) {
    document.getElementById(id).style.display = 'block';
  }

  function cerrarPista(id) {
    document.getElementById(id).style.display = 'none';
  }
</script>

</body>
