<body>
<form action='@Url.Action("IngresarWordle", "Home")' method="POST" class="form-wordle">
                <input type="text" 
                       name="wordle" 
                       pattern="[a-zA-Z]+" 
                       placeholder="Palabra" 
                       required 
                       autocomplete="off">
                <button type="submit" id="submitLetra">Comprobar</button>
  <form action='@Url.Action("salas", "Home")' method="POST">
  <input
    type="text"
    name="clave"
    placeholder="Ordená las pistas"
    required
    minlength="5"
    maxlength="5"
  />
  <input type="submit" value="Guardar" />
</form>
</body>