<body>
<div id="dialogo"></div>
mostrarTexto("", 50)
  <script>
    const texto = "";
    const velocidad = 50;
    const dialogo = document.getElementById("dialogo");
    let indice = 0;

    function mostrarTexto() {
      if (indice < texto.length) {
        dialogo.textContent += texto[indice];
        indice++;
        setTimeout(mostrarTexto, velocidad);
      }
    }

    mostrarTexto();
  </script>
  <form action='@Url.Action("salas", "Home")' method="POST">
  <input
    type="text"
    name="clave"
    placeholder="Ordená las pistas"
    required
    minlength="5"
    maxlength="5"
  />
  <input type="submit" value="Guardar" />
</form>
</body>